<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="AddMediaDialog">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>3</cols>
			<growablecols>1</growablecols>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_FPPHOSTNAME" variable="StaticText_FPPHostname" member="yes">
					<label>FPP Hostname:</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TEXTCTRL_FPPHOSTNAME" variable="TextCtrl_FPPHostname" member="yes">
					<maxlength>15</maxlength>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
				<size>10,8</size>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_MEDIAFILE" variable="StaticText_MediaFile" member="yes">
					<label>Media File:</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TEXTCTRL_MEDIA_PATH" variable="TextCtrl_MediaFilePath" member="yes">
					<maxlength>15</maxlength>
					<style>wxTE_READONLY</style>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_Xml_Media_File" variable="BitmapButton_Xml_Media_File" member="yes">
					<bitmap code='wxArtProvider::GetBitmapBundle(&quot;wxART_CDROM&quot;,wxART_BUTTON)' />
					<handler function="OnBitmapButton_MediaFileClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_USE_SEQ" variable="StaticText_UseSequenceMedia" member="yes">
					<label>Use Sequence Media Name</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxCheckBox" name="ID_CHECKBOX1" variable="CheckBox1" member="yes">
					<checked>1</checked>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer1" member="no">
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="Button_Ok" member="yes">
							<label>Ok</label>
							<default>1</default>
							<handler function="OnButton_OkClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON2" variable="Button_Cancel" member="yes">
							<label>Cancel</label>
							<handler function="OnButton_CancelClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
